/* backgroud for header */
div.image{
    background-color:bisque ;
}

/* background for main form */
div.form{
    background-color:beige ;
    padding:10px;
}

div.pay{
    background-color:red;
    padding:10px;
}


/* image shaped */
img.title{
    height:150px;
    width:150px;
    border-radius:50%;
}




